body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin: 0 13px;
}

.navbar h1 {
  font-size: 36px;
  margin-left: 2rem;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  color: grey;
}

.landing {
  background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80"), linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));
  background-blend-mode: overlay;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 113.75px;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.landing-inner h1 {
  margin: 10px 0;
  font-size: 60px;
}

.landing-inner p {
  margin: 10px 0;
  font-size: 20px;
}

.landing-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 7px;
  padding: 10px;
  text-decoration: none;
  margin: 16px;
  cursor: pointer;
}

.btn-primary {
  background-color: white;
  border: solid black 1px;
  color: black;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}

.btn-dark {
  background-color: black;
  border: none;
  color: white;
}

.btn-dark:hover {
  background-color: white;
  color: black;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-container h1 {
  font-size: 60px;
}

.form-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  height: 40px;
  width: 30%;
  margin: 15px;
  border-radius: 5px;
  border: 1px solid black;
}